// ////////////////////////////////
// BTN

.btn {
  font-size: 2rem;
  font-weight: 300;
  padding: 2rem 5rem;
  text-transform: uppercase;
  border-radius: 100px;
  border: none;

  background-image: linear-gradient(
    to right bottom,
    var(--color-tertiary-light),
    var(--color-tertiary)
  );
  color: #fff;
  overflow: hidden;

  &:hover {
    outline: none;
    animation: pulsate 1s infinite;
  }

  position: relative;
  -webkit-backface-visibility: hidden;
  -webkit-transform: translateZ(0) scale(1, 1);
  cursor: pointer;

  & > * {
    display: inline-block;
    height: 100%;
    width: 100%;
    transition: all 0.2s;
  }

  &__invisible {
    display: inline-block;
    position: absolute;
    padding: 2rem 0;
    left: 0;
    top: -100%;
  }

  &:hover &__visible {
    transform: translateY(190%);
  }

  &:hover &__invisible {
    top: 0;
  }

  @media only screen and (max-width: $bp-medium) {
    &__invisible {
      display: none;
    }

    &:hover &__visible {
      transform: none;
    }
    padding-bottom: 4rem;
  }

  &--submit {
    padding: 0.5rem 1rem;
    margin-left: 0.5rem;
    border-radius: 5px;
  }
}

// MOBILE BTN

.mobile {
  position: absolute;
  margin-right: 2rem;
  cursor: pointer;
  fill: currentColor;
  @media only screen and (max-width: 800px) {
    position: relative;
  }
  & :hover {
    fill: var(--color-dark-light);
  }

  &__open,
  &__close {
    display: none;
    width: 4rem;
    height: 4rem;
    
  }

  &--sticky {
    svg {
      width: 3.5rem;
      height: 3.5rem;
    }
  }
}

.display {
  @media only screen and (max-width: 800px) {
    display: block;
    position: relative;
  }
}
