.container {
  max-width: 150rem;
  position: relative;
}

// Main-nav
.header {
  min-height: 100vh;
}

.features {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.boxes {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background-image: -webkit-gradient(
    linear,
    left top,
    right bottom,
    from(var(--color-tertiary-light)),
    to(var(--color-secondary-light))
  );
  background-image: linear-gradient(
    to right bottom,
    var(--color-tertiary-light),
    var(--color-secondary-light)
  );
}

.sub {
  height:80vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(https://res.cloudinary.com/pipen95/image/upload/v1560599033/Cheese-bird/img/cheesebox.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  position: relative;
  filter: opacity(0.7);
  overflow: hidden;
  backface-visibility: hidden;
}

.footer {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  padding: 5rem 0;
  background-color: var(--color-dark);
  color: var(--color-primary);
  overflow: hidden;

  @media only screen and (max-width: $bp-med) {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
