////////////////////////////////////
///HEADINGS
p {
  text-align: justify;
}

.heading {
  &__primary {
    font-size: 7rem;
    font-weight: 100;
    letter-spacing: 3px;
    margin-bottom: 2rem;
    text-transform: uppercase;
    text-align: center;
    background-image: -webkit-gradient(
      linear,
      left top,
      right bottom,
      from(var(--color-tertiary-light)),
      to(var(--color-secondary-light))
    );
    background-image: linear-gradient(
      to right bottom,
      var(--color-tertiary-light),
      var(--color-secondary-light)
    );
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;

    @media only screen and (max-width: $bp-mobile) {
      font-size: 5;
    }
  }

  &__secondary {
    font-size: 4rem;
    color: var(--color-primary);
    font-weight: 300;
    margin: 5rem 0 2rem 0;

    @media only screen and (max-width: $bp-mobile) {
      font-size: 3rem;
    }

    &--2 {
      font-size: 4rem;
      display: block;
      margin: 5rem 0;
      background-image: -webkit-gradient(
        linear,
        left top,
        right bottom,
        from(var(--color-tertiary-light)),
        to(var(--color-secondary-light))
      );
      background-image: linear-gradient(
        to right bottom,
        var(--color-tertiary-light),
        var(--color-secondary-light)
      );
      -webkit-background-clip: text;
      background-clip: text;
      color: transparent;

      &--3 {
        background-image: -webkit-gradient(
          linear,
          left top,
          right bottom,
          from(var(--color-tertiary-light)),
          to(var(--color-secondary-light))
        );
        background-image: linear-gradient(
          to right bottom,
          var(--color-tertiary-light),
          var(--color-secondary-light)
        );
        -webkit-background-clip: text;
        background-clip: text;
        color: transparent;
      }
    }
  }
}

.love {
  color: rgb(214, 71, 71);
  font-size: 2rem;
}
